@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#container {
  display: grid;
  height: 100vh;
  /*grid-template-columns: repeat(8, 1fr);*/
  /*grid-template-rows: repeat(28, 1fr);*/
  /*grid-gap: 1em;*/
  /*border: 2px solid black;*/
  grid-area:
  "main-image main-image main-image main-image"
  "nav nav nav nav"
  "para1 para1 para1 para1"
  "para2 para2 para2 para2"
  "h2 h2 h2 h2"
  "dwn1 dwn1 dwn1 dwn2 dwn2 dwn2"
  "para3 para3 para3 para3"
  "para4 para4 para4 para4"
  "ft-img ft-img ft-nav ft-nav"
}

.header {
  background-color: #333;
}

#main-image {
  /*border: 2px solid blue;*/
  grid-column: 1;
  grid-row: 1/3;
  text-align: center;
  background-color: #333;
  grid-area: main-image;
}

.nav {
  /*border: 2px solid pink;*/
  background-color: #333;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  grid-column: 1;
  grid-area: nav;
}

#nav-bar {
  margin-top: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

.nav-anchors {
  color: #bdbbbb;
  border-right: 1px solid #bdbbbb;
  padding: 0px 10px;
}

.last-nav-anchor {
  color: #bdbbbb;
  padding: 0px 5px;
}

.main {
  /*border: 2px solid green;*/
}

.paragraph1 {
  /*border: 2px solid orange;*/
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding: 0px 30px;
  grid-area: para1;
}

.paragraph2 {
  /*border: 2px solid purple;*/
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  padding: 0px 30px;
  grid-area: para2;
}

.special-p {
  background-color: #eaf5e9;
  font-size: 130%
  padding: 5px 15px;
}

.h2 {
  /*border: 2px solid grey;*/
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding: 0px 30px;
  grid-area: h2;
}

.downloads {
  display: grid;
  /*grid-template-columns: repeat(6, 1fr)*/
  grid-template-areas:
  "dwn1 dwn1 dwn2 dwn2"
}

.download1 {
  /*border: 2px solid red;*/
  font-family: 'Source Sans Pro', sans-serif;
  /*grid-column: 2/4;*/
  grid-area: dwn1;
}

.download2 {
  /*border: 2px solid pink;*/
  font-family: 'Source Sans Pro', sans-serif;
  /*grid-column: 4/6;*/
  grid-area: dwn2;
}

.btn {
  background-color: #026e00;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 275px;
  height: 75px;
}

.btn-text {
  color: white;
  /*font-size: 20px;*/
}

.mini-nav {
  padding-left: 5px;
  padding-right: 5px;
}
.rt-nav {
  color: #354434;
  padding: 5px;

}

.lft-nav {
  color: #354434;
  padding: 5px;
}

.special-nav {
  border-left: 1px solid #354434;
  border-right: 1px solid #354434;
}

.paragraph3 {
  /*border: 2px solid lime;*/
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 20px;
  grid-area: para3;
}

.paragraph4 {
  /*border: 2px solid yellow;*/
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 20px;
  grid-area: para4;
}

.footer {
  grid-area: foot;
  background-color: #333;
  /*border: 2px solid purple;*/
}

.foot-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-family: 'Source Sans Pro', sans-serif;
}

.ft-nav {
  color: #bdbbbb;
  padding: 5px;
}

.foot-img {
  /*border: 2px solid red;*/
  grid-area: ft-img;
  background-color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  /*grid-column: 1/4;*/
}

.ft-img {
  padding-top: 20px;
  padding-left: 10px;
}

.foot-nav {
  /*border: 2px solid green;*/
  padding-left: 5px;
  background-color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  grid-area: ft-nav;
  /*grid-column: 4/7;*/
}

.ft-special-nav {
  border-right: #bdbbbb;
  border-left: #bdbbbb;
  color:#bdbbbb;
}

.foot-para-1 {
  /*border: 2px solid orange;*/
  background-color: #333;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.foot-para-2 {
  /*border: 2px solid black;*/
  background-color: #333;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.foot-para-3 {
  /*border: 2px solid pink;*/
  background-color: #333;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.foot-para-4 {
  /*border: 2px solid purple;*/
  background-color: #333;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: auto 20%;
    grid-template-areas:
    "main-image main-image main-image main-image"
    "nav nav nav nav"
    "para1 para1 para1 para1"
    "para2 para2 para2 para2"
    "h2 h2 h2 h2"
    "dwnld dwnld dwnld dwnld"
    "para3 para3 para3 para3"
    "para4 para4 para4 para4"
    "foot foot foot foot"
  }
  .downloads {
    grid-template-columns: auto 20%;
    grid-template-areas:
    "dwn1 dwn1 dwn2 dwn2"
  }
  .foot-links {
    grid-template-columns: auto 20%;
    grid-template-areas:
    "ft-img ft-img ft-nav ft-nav"
  }
}

@media screen and (max-width: 600px) {
  .container {
    /*display: grid;*/
    /*grid-template-columns: auto 20%;*/
    grid-template-areas:
    "main-image"
    "nav"
    "para2"
    "h2"
    "dwn1"
    "dwn2"
    "para3"
    "para4"
    "foot"
  }
  .downloads {
    grid-template-columns: auto 20%;
    grid-template-areas:
    "dwn1"
    "dwn2"
  }
  .foot-links {
    grid-template-columns: auto 20%;
    grid-template-areas:
    "ft-img"
    "ft-nav"
  }
}
